@model Control_de_Lotes.Models.Siembra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Siembra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProduccionEstimativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProduccionEstimativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadSemillas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadSemillas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Superficiesembrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Superficiesembrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lote.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cultivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cultivo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver a las lista </a>
</div>
